<h1>Create a New Question</h1>

<%= simple_form_for (@question), method: "post", url: questions_path do |f| %>
  <%= f.input :title, error: "Title needs to be at least 40 characters" %> <br>
  <%= f.input :description, error: "Description needs to be at least 150 characters" %>
  <%= f.hidden_field :creator_id, value:  @current_user.id %>
  <%= f.button :submit %>
<% end %>
