<h2><%= @question.title %></h2>


<p>
  <%= @question.description %> - <%= @question.creator.name %>
</p>

<% if @current_user == @question.creator %>
  <%= link_to "Edit Question", edit_question_path %>
  <%= link_to "Delete Question", question_path, method: 'delete' %>
<% end %>

<% if @answers != nil %>
  <h2>Answers:</h2>
    <ul>
      <% @answers.each do |answer| %>
        <li><%= answer.reply %></li>
        <p>-<%= answer.user.name %>
          <%= answer.created_at %>
        </p>
      <% end %>
    </ul>
<% end %>


<% if @current_user != @question.creator && @current_user != nil %>
  <%= simple_form_for (@answer), method: "post", url: answers_path do |f| %>
    <%= f.input :reply, label: "Answer:", error: "Reply needs to be at least 50 characters" %> <br>
    <%= f.hidden_field :question_id, value: @question.id %>
    <%= f.hidden_field :user_id, value:  @current_user.id %>
    <%= f.button :submit %>
  <% end %>
<% end %>
